@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --primary: 210 100% 50%; /* #037fff */
    --secondary: 0 0% 0%; /* #000000 */
    --muted: 0 0% 19%; /* #313131 */
    --foreground: 0 0% 9%; /* #151515 */
    --border: 225 22% 86%; /* #cbced8 */
    --background: 0 0% 95%; /* #f1f1f1 */
    --card: 231 29% 7%; /* #0c0e16 (inchangé) */

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --input: var(--border);
    --ring: var(--primary);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --card-foreground: var(--foreground);
    --primary-foreground: var(--secondary);
    --secondary-foreground: var(--foreground);
    --accent: var(--primary);
    --accent-foreground: var(--secondary);
    --muted-foreground: var(--muted);
    --destructive: var(--error);
    --destructive-foreground: var(--secondary);
    --radius: 0.2rem;
  }

  [data-theme='dark'] {
    --primary: 210 100% 50%; /* #037fff */
    --secondary: 0 0% 100%; /* #ffffff */
    --muted: 226 20% 71%; /* #a4acc4 */
    --foreground: 0 0% 100%; /* #ffffff */
    --border: 231 20% 24%; /* #2e344e */
    --background: 231 24% 7%; /* #10121b */
    --card: 231 29% 7%; /* #0c0e16 */

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;

    --input: var(--border);
    --ring: var(--primary);
    --popover: var(--card);
    --popover-foreground: var(--secondary);
    --card-foreground: var(--secondary);
    --primary-foreground: var(--secondary);
    --secondary-foreground: var(--secondary);
    --accent: var(--primary);
    --accent-foreground: var(--secondary);
    --muted-foreground: var(--muted);
    --destructive: var(--error);
    --destructive-foreground: var(--secondary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
